<!--The content below is only a placeholder and can be replaced.-->
<head>
<link href="//cdn.wolterskluwer.io/wk-css/0.26.x/standard.min.css" type="text/css" rel="stylesheet">
</head>
<header role="banner" class="wk-header">
  <div class="wk-header-container">
    <a href="javascript:void(0)" class="wk-logo"><img src="https://cdn.wolterskluwer.io/wk-logos/1.0.x/wk-brand-small.svg" alt="Wolters Kluwer Product Name - Page anchor links to" class="wk-logo-small"><img src="https://cdn.wolterskluwer.io/wk-logos/1.0.x/wk-brand.svg" alt="Wolters Kluwer Product Name - Page anchor links to" class="wk-logo-large"></a>
    <ul class="wk-more-menu wk-green-icons">
      <li role="presentation"><a href="javascript:void(0)"><span wk-icon="more"></span>More</a></li>
    </ul>
    <ul class="wk-nav wk-green-icons">
      <li role="presentation"><a routerLinkActive="active" routerLink=""><span wk-icon="wrench"></span>Home</a></li>
      <li role="presentation"><a routerLinkActive="active" routerLink="/MonitoringRecords"><span wk-icon="question"></span>MonitoringRecords</a></li>
      <li role="presentation"><a routerLinkActive="active" routerLink="/MonitoringAlerts"><span wk-icon="user"></span>MonitoringAlerts</a></li>
    </ul>
  </div>
</header>
<router-outlet></router-outlet>

<footer role="contentinfo" class="wk-footer">
  <div class="wk-footer-container"><a href="javascript:void(0)" class="wk-logo"><img src="https://cdn.wolterskluwer.io/wk-logos/1.0.x/wk-brand-small-white.svg" alt="Wolters Kluwer Product Name - Page anchor links to" class="wk-logo-small"><img src="https://cdn.wolterskluwer.io/wk-logos/1.0.x/wk-brand-white.svg" alt="Wolters Kluwer Product Name - Page anchor links to" class="wk-logo-large"></a></div>
  <div class="wk-footer-copyright">
    <div class="wk-footer-copyright-container">&copy; 2019 Wolters Kluwer and/or its affiliates. All rights reserved.</div>
  </div>
</footer>


