.container{
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 100px;
  text-align:center;
}
.bookmarkList{
  margin-top: 5px;
  text-align: left;
}
.bookmarkInput{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  padding: 0px;
}
#basic-addon1 {
  padding-right: 26px;
}

button{
  margin-top: 20px;
}
#bookmarkFeatures span button{
  padding:0px;
}
